*.o
*.lo
.*.swp
.deps/
.libs/
m4/
autom4te.cache/
*.la
Makefile
Makefile.in
aclocal.m4
bench/Makefile
bench/Makefile.in
bench/nessdb-bench
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
nessDB/Makefile
nessDB/Makefile.in
server/Makefile
server/Makefile.in
server/nessdb-server
stamp-h1
